Bureau_Balance Dataset

In [31]:
import pandas as pd

In [32]:
Bureau_Balance = pd.read_csv('data/bureau_balance.csv')

In [33]:
Bureau_Balance = pd.get_dummies(Bureau_Balance,columns = ['STATUS'])

In [34]:
Bureau_Balance['MONTHS_BALANCE'].unique()

array([  0,  -1,  -2,  -3,  -4,  -5,  -6,  -7,  -8,  -9, -10, -11, -12,
       -13, -14, -15, -16, -17, -18, -19, -20, -21, -22, -23, -24, -25,
       -26, -27, -28, -29, -30, -31, -32, -33, -34, -35, -36, -37, -38,
       -39, -40, -41, -42, -43, -44, -45, -46, -47, -48, -49, -50, -51,
       -52, -53, -54, -55, -56, -57, -58, -59, -60, -61, -62, -63, -64,
       -65, -66, -67, -68, -69, -70, -71, -72, -73, -74, -75, -76, -77,
       -78, -79, -80, -81, -82, -83, -84, -85, -86, -87, -88, -89, -90,
       -91, -92, -93, -94, -95, -96])

In [35]:
list_replacement_0 = [-i for i in range(12)]
list_replacement_1 = [-i for i in range(12,97)]

Bureau_Balance['MONTHS_BALANCE'] = Bureau_Balance['MONTHS_BALANCE'].replace(list_replacement_0,0)
Bureau_Balance['MONTHS_BALANCE'] = Bureau_Balance['MONTHS_BALANCE'].replace(list_replacement_1,1)

In [36]:
Bureau_Balance.isnull().sum()

SK_ID_BUREAU      0
MONTHS_BALANCE    0
STATUS_0          0
STATUS_1          0
STATUS_2          0
STATUS_3          0
STATUS_4          0
STATUS_5          0
STATUS_C          0
STATUS_X          0
dtype: int64

In [37]:
Bureau_Balance.head()

,SK_ID_BUREAU,MONTHS_BALANCE,STATUS_0,STATUS_1,STATUS_2,STATUS_3,STATUS_4,STATUS_5,STATUS_C,STATUS_X
0,5715448,0,0,0,0,0,0,0,1,0
1,5715448,0,0,0,0,0,0,0,1,0
2,5715448,0,0,0,0,0,0,0,1,0
3,5715448,0,0,0,0,0,0,0,1,0
4,5715448,0,0,0,0,0,0,0,1,0

In [38]:
Bureau_Balance = Bureau_Balance.groupby('SK_ID_BUREAU', as_index = False).agg({'MONTHS_BALANCE':'mean','STATUS_0':'mean','STATUS_1':'mean','STATUS_2':'mean','STATUS_3':'mean','STATUS_4':'mean','STATUS_5':'mean','STATUS_C':'mean','STATUS_X':'mean'})

In [39]:
Bureau_Balance.head()

,SK_ID_BUREAU,STATUS_X,STATUS_5,STATUS_C,MONTHS_BALANCE,STATUS_4,STATUS_3,STATUS_2,STATUS_1,STATUS_0
0,5001709,0.113402,0.0,0.886598,0.876289,0.0,0.0,0.0,0.0,0.000000
1,5001710,0.361446,0.0,0.578313,0.855422,0.0,0.0,0.0,0.0,0.060241
2,5001711,0.250000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.750000
3,5001712,0.000000,0.0,0.473684,0.368421,0.0,0.0,0.0,0.0,0.526316
4,5001713,1.000000,0.0,0.000000,0.454545,0.0,0.0,0.0,0.0,0.000000

Grouping Bureau_Balance with the data Dataset, obtain previosuly