Cleaning of the dataset Instalments_Payments

In [14]:
import pandas as pd
import numpy as np

In [15]:
instal = pd.read_csv('data/installments_payments.csv')

In [16]:
instal.head(7)

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525,1716.525
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000,25425.000
3,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130,24350.130
4,2714724,167756,1.0,2,-1383.0,-1366.0,2165.040,2160.585
5,1137312,164489,1.0,12,-1384.0,-1417.0,5970.375,5970.375
6,2234264,184693,4.0,11,-349.0,-352.0,29432.295,29432.295

In [17]:
instal = instal[pd.notna(instal['DAYS_ENTRY_PAYMENT'])].drop('NUM_INSTALMENT_NUMBER',axis = 1)
instal['DIFERENCE_DAYS_PAYMENT'] = instal['DAYS_ENTRY_PAYMENT'] - instal['DAYS_INSTALMENT']
instal['DIFERENCE_PAYMENT'] = instal['AMT_INSTALMENT'] - instal['AMT_PAYMENT']

In [18]:
instal['DAYS_INSTALMENT_new'] = 0
instal['DAYS_ENTRY_PAYMENT_new'] = 0

instal.loc[instal['DAYS_INSTALMENT'] < -365 , 'DAYS_INSTALMENT_new'] = 1
instal.loc[instal['DAYS_ENTRY_PAYMENT'] < -365, 'DAYS_ENTRY_PAYMENT_new'] = 1

In [19]:
instal = instal.drop(['DAYS_INSTALMENT','DAYS_ENTRY_PAYMENT'],axis = 1)
instal = instal.rename(columns = {'DAYS_INSTALMENT_new':'DAYS_INSTALMENT','DAYS_ENTRY_PAYMENT_new':'DAYS_ENTRY_PAYMENT'})

In [20]:
instal = instal.groupby(by=['SK_ID_PREV','SK_ID_CURR']).agg({'DAYS_INSTALMENT':'mean','DAYS_ENTRY_PAYMENT':'mean','AMT_INSTALMENT':'median','AMT_PAYMENT':'median','NUM_INSTALMENT_VERSION': 'max', 'DIFERENCE_DAYS_PAYMENT': 'mean','DIFERENCE_PAYMENT': 'mean'})
instal = instal.groupby(by='SK_ID_CURR').agg({'DAYS_INSTALMENT':'mean','DAYS_ENTRY_PAYMENT':'mean','AMT_INSTALMENT':'median','AMT_PAYMENT':'median','NUM_INSTALMENT_VERSION': 'mean', 'DIFERENCE_DAYS_PAYMENT': 'mean','DIFERENCE_PAYMENT': 'mean'})

In [22]:
instal.tail(7)

,DAYS_ENTRY_PAYMENT,AMT_PAYMENT,DIFERENCE_DAYS_PAYMENT,DIFERENCE_PAYMENT,AMT_INSTALMENT,NUM_INSTALMENT_VERSION,DAYS_INSTALMENT
SK_ID_CURR,,,,,,,
456249,1.000000,22770.4050,-2.500000,0.000000,22770.4050,1.000000,1.000000
456250,0.500000,16966.0575,-11.248188,104.934620,17079.3000,0.750000,0.500000
456251,0.000000,6605.9100,-36.285714,0.000000,6605.9100,2.000000,0.000000
456252,1.000000,10074.4650,-2.833333,0.000000,10074.4650,1.000000,1.000000
456253,1.000000,3971.8800,-11.977778,264.873000,3973.0950,1.000000,1.000000
456254,0.000000,10681.1325,-18.611111,0.000000,10681.1325,1.000000,0.000000
456255,0.743614,13916.8350,-9.415709,-1376.742983,13957.5825,2.333333,0.715837