In [19]:
import pandas as pd
import numpy as np
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import cross_val_predict
from sklearn.preprocessing import MinMaxScaler
from lightgbm import LGBMClassifier

/home/goncalo/.local/lib/python2.7/site-packages/sklearn/metrics/cluster/supervised.py:23: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from .expected_mutual_info_fast import expected_mutual_information
/home/goncalo/.local/lib/python2.7/site-packages/sklearn/metrics/pairwise.py:30: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from .pairwise_fast import _chi2_kernel_fast, _sparse_manhattan
/home/goncalo/.local/lib/python2.7/site-packages/sklearn/utils/random.py:10: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  from ._random import sample_without_replacement

In [15]:

data = pd.read_csv('data/application_train.csv')
data_submission = pd.read_csv('data/application_test.csv')
submission_id = data_submission['SK_ID_CURR']


def process_data(data):
    Null_dict = dict()

    for column in ['NAME_HOUSING_TYPE','OCCUPATION_TYPE','WEEKDAY_APPR_PROCESS_START','ORGANIZATION_TYPE','FONDKAPREMONT_MODE','HOUSETYPE_MODE','WALLSMATERIAL_MODE','EMERGENCYSTATE_MODE']:
        Null_dict[column] = 0


    for column in ['NAME_HOUSING_TYPE','OCCUPATION_TYPE','WEEKDAY_APPR_PROCESS_START','ORGANIZATION_TYPE','FONDKAPREMONT_MODE','HOUSETYPE_MODE','WALLSMATERIAL_MODE','EMERGENCYSTATE_MODE']:
        if data[column].isnull().sum()>0:
            Null_dict[column] = data[column].isnull().sum()

        if (data[column]=='XNA').sum()>0:
            Null_dict[column] = (data[column]=='XNA').sum()

    for (key,value) in Null_dict.items():
        Null_dict[key] = float(value)/data.shape[0]

    def replace_binary_categorical_var(df, column_name):
        categories = list(df[column_name].unique())
        if np.nan in categories:
            categories.remove(np.nan)
        assert(len(categories) == 2)
        df.loc[df[column_name] == categories[0], column_name] = 0
        df.loc[df[column_name] == categories[1], column_name] = 1    
            
    for col, dtype in data.dtypes.iteritems():
        if np.issubdtype(dtype, np.number) and col not in ('TARGET', 'EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3'):
            data[col + '/(AMT_CREDIT)'] = data[col] / data['AMT_CREDIT']
            
    data['FONDKAPREMONT_MODE'] = data['FONDKAPREMONT_MODE'].replace('XNA', np.nan)
    # Name contract type is either Cash loans or Revolving loans
    replace_binary_categorical_var(data, 'NAME_CONTRACT_TYPE')

    # Gender is either male, female or N/A. We'll consider it binary
    data['CODE_GENDER'] = data['CODE_GENDER'].replace('XNA', np.nan)
    replace_binary_categorical_var(data, 'CODE_GENDER')

    # FLAG_OWN_CAR and FLAG_OWN_REALTY are flags, either Y or N
    replace_binary_categorical_var(data, 'FLAG_OWN_CAR')
    replace_binary_categorical_var(data, 'FLAG_OWN_REALTY')

    # We'll consider unknown to be N/A
    data['NAME_FAMILY_STATUS'] = data['NAME_FAMILY_STATUS'].replace('Unknown', np.nan)

    # All these are categorical
    data = pd.get_dummies(data, columns=['NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE','OCCUPATION_TYPE','WEEKDAY_APPR_PROCESS_START','ORGANIZATION_TYPE','FONDKAPREMONT_MODE','HOUSETYPE_MODE','WALLSMATERIAL_MODE','EMERGENCYSTATE_MODE'])

    data = data.fillna(data.median())

    return data

data = process_data(data)
data_submission = process_data(data_submission)

In [7]:
data_pos_cash = pd.read_csv('data/POS_CASH_balance.csv')

In [14]:
data_pos_cash['MONTHS_BALANCE'] = data_pos_cash['MONTHS_BALANCE'].replace(-1, 0)

data_pos_cash['MONTHS_LEFT_TO_PAY'] = data_pos_cash['CNT_INSTALMENT_FUTURE']
data_pos_cash.loc[data_pos_cash['MONTHS_BALANCE'] != 0, 'MONTHS_LEFT_TO_PAY'] = np.nan

aggregated = data_pos_cash.groupby(('SK_ID_CURR', 'SK_ID_PREV')).agg({
    'SK_DPD_DEF': ('sum', 'max'),
    'SK_DPD': ('sum', 'max'),
    'MONTHS_LEFT_TO_PAY': ('max')
}).fillna(0).groupby('SK_ID_CURR').agg(('mean', 'max'))


aggregated.columns = list(map('_'.join, aggregated.columns.values))
aggregated['SK_ID_CURR'] = aggregated.index

In [13]:
aggregated

,MONTHS_LEFT_TO_PAY_max_mean,MONTHS_LEFT_TO_PAY_max_max,SK_DPD_DEF_sum_mean,SK_DPD_DEF_sum_max,SK_DPD_DEF_max_mean,SK_DPD_DEF_max_max,SK_DPD_sum_mean,SK_DPD_sum_max,SK_DPD_max_mean,SK_DPD_max_max,SK_ID_CURR__
SK_ID_CURR,,,,,,,,,,,
100001,0.000000,0.0,3.500000,7,3.500000,7,3.500000,7,3.500000,7,100001
100002,6.000000,6.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,100002
100003,0.000000,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,100003
100004,0.000000,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,100004
100005,0.000000,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,100005
100006,1.000000,3.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,100006
100007,2.600000,13.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,100007
100008,0.000000,0.0,0.000000,0,0.000000,0,7035.500000,28142,323.500000,1294,100008
100009,1.125000,9.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,100009
100010,0.000000,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,100010
100011,0.000000,0.0,13.000000,26,4.500000,9,7712.500000,15425,476.000000,952,100011
100012,0.000000,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,100012
100013,0.000000,0.0,0.000000,0,0.000000,0,11.333333,34,6.000000,18,100013
100014,2.000000,4.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,100014
100015,0.000000,0.0,13.000000,13,13.000000,13,13.000000,13,13.000000,13,100015
100016,0.000000,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,100016
100017,2.500000,5.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,100017
100018,0.000000,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,100018
100019,0.000000,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,100019
100020,0.000000,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,100020
100021,0.000000,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,100021
100022,0.000000,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,100022
100023,0.000000,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,100023
100025,0.000000,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,100025
100026,0.000000,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,100026
100027,0.000000,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,100027
100028,0.000000,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,100028
100029,0.000000,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,100029
100030,0.000000,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,100030
100032,0.000000,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,100032
...,...,...,...,...,...,...,...,...,...,...,...
456225,0.000000,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,456225
456226,0.000000,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,456226
456227,0.000000,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,456227
456228,0.000000,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,456228
456230,2.250000,9.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,456230
456231,0.000000,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,456231
456232,0.000000,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,456232
456233,3.000000,3.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,456233
456234,0.000000,0.0,8.000000,16,8.000000,16,8.000000,16,8.000000,16,456234
456235,0.000000,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,456235
456236,0.000000,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,456236
456237,2.750000,11.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,456237
456238,0.000000,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,456238
456239,0.000000,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,456239
456240,6.500000,22.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,456240
456241,0.000000,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,456241
456242,1.000000,3.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,456242
456243,0.000000,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,456243
456244,6.111111,55.0,0.777778,7,0.444444,4,0.777778,7,0.444444,4,456244
456245,8.500000,17.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,456245
456246,0.000000,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,456246
456247,0.000000,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,456247
456248,0.000000,0.0,0.000000,0,0.000000,0,25.333333,76,6.666667,20,456248
456249,0.000000,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,456249
456250,1.000000,3.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,456250
456251,0.000000,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,456251
456252,0.000000,0.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,456252
456253,0.000000,0.0,1.666667,5,1.666667,5,1.666667,5,1.666667,5,456253
456254,6.000000,8.0,0.000000,0,0.000000,0,0.000000,0,0.000000,0,456254
456255,0.000000,0.0,0.833333,5,0.833333,5,0.833333,5,0.833333,5,456255

In [16]:
data = data.merge(aggregated, on='SK_ID_CURR', how='left', suffixes=('', '_previous'))
data_submission = data_submission.merge(aggregated, on='SK_ID_CURR', how='left', suffixes=('', '_previous'))

data = data.drop('SK_ID_CURR', axis=1)
data_submission = data_submission.drop('SK_ID_CURR', axis=1)

data = data.fillna(data.median())

data_submission = data_submission.fillna(data.median())

In [17]:
data_submission['NAME_INCOME_TYPE_Maternity leave'] = 0

In [21]:
data_x = data.drop('TARGET', axis=1).as_matrix()
data_y = data['TARGET'].as_matrix()
data_submission = data_submission.as_matrix()

train_x, test_x, train_y, test_y = train_test_split(data_x, data_y, test_size=0.05)
del data_x, data_y

In [22]:
lgbm = XGBClassifier()
lgbm.fit(train_x, train_y)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [23]:
print('train_score:', roc_auc_score(train_y, lgbm.predict_proba(train_x)[:,1]))
print('test_score:', roc_auc_score(test_y, lgbm.predict_proba(test_x)[:,1]))

('train_score:', 0.7670202864020771)
('test_score:', 0.7661513683299861)

In [24]:
predicted = lgbm.predict_proba(data_submission)[:, 1]

results = pd.DataFrame({'SK_ID_CURR': submission_id, 'TARGET': predicted})

results.to_csv('predictions.csv', index=False)

In [27]:
print('TOP 50 Importances')
for importance, col in sorted(zip(list(lgbm.feature_importances_), list(data.columns[1:])), reverse=True)[:50]:
    print(str(importance) + '\t' + col)

TOP 50 Importances
0.16428572	EXT_SOURCE_3
0.12	EXT_SOURCE_2
0.09714286	EXT_SOURCE_1
0.08142857	AMT_ANNUITY/(AMT_CREDIT)
0.052857142	AMT_GOODS_PRICE/(AMT_CREDIT)
0.037142858	DAYS_BIRTH
0.034285713	CODE_GENDER
0.027142856	MONTHS_LEFT_TO_PAY_max_mean
0.025714286	SK_DPD_DEF_max_mean
0.024285715	DAYS_EMPLOYED
0.018571429	AMT_ANNUITY
0.015714286	FLAG_DOCUMENT_3/(AMT_CREDIT)
0.015714286	DAYS_ID_PUBLISH
0.012857143	SK_DPD_DEF_sum_mean
0.012857143	MONTHS_LEFT_TO_PAY_max_max
0.012857143	DAYS_EMPLOYED/(AMT_CREDIT)
0.011428571	AMT_INCOME_TOTAL/(AMT_CREDIT)
0.01	REGION_RATING_CLIENT_W_CITY
0.01	NAME_FAMILY_STATUS_Married
0.01	NAME_EDUCATION_TYPE_Higher education
0.01	AMT_GOODS_PRICE
0.008571428	SK_DPD_sum_mean
0.008571428	SK_DPD_max_mean
0.008571428	OWN_CAR_AGE
0.008571428	FLAG_WORK_PHONE/(AMT_CREDIT)
0.008571428	DEF_30_CNT_SOCIAL_CIRCLE/(AMT_CREDIT)
0.008571428	DAYS_LAST_PHONE_CHANGE/(AMT_CREDIT)
0.007142857	NAME_INCOME_TYPE_Working
0.007142857	NAME_EDUCATION_TYPE_Secondary / secondary special
0.007142857	FLAG_OWN_CAR
0.007142857	DAYS_LAST_PHONE_CHANGE
0.0057142857	TOTALAREA_MODE/(AMT_CREDIT)
0.0057142857	REG_CITY_NOT_LIVE_CITY/(AMT_CREDIT)
0.0057142857	REGION_POPULATION_RELATIVE/(AMT_CREDIT)
0.0057142857	DAYS_ID_PUBLISH/(AMT_CREDIT)
0.0057142857	DAYS_BIRTH/(AMT_CREDIT)
0.004285714	ORGANIZATION_TYPE_Self-employed
0.004285714	ORGANIZATION_TYPE_Construction
0.004285714	FLAG_EMP_PHONE/(AMT_CREDIT)
0.004285714	DEF_60_CNT_SOCIAL_CIRCLE/(AMT_CREDIT)
0.004285714	DAYS_REGISTRATION/(AMT_CREDIT)
0.0028571428	YEARS_BEGINEXPLUATATION_AVG
0.0028571428	OBS_30_CNT_SOCIAL_CIRCLE/(AMT_CREDIT)
0.0028571428	OBS_30_CNT_SOCIAL_CIRCLE
0.0028571428	NAME_CONTRACT_TYPE
0.0028571428	FLOORSMAX_MEDI/(AMT_CREDIT)
0.0028571428	FLAG_CONT_MOBILE/(AMT_CREDIT)
0.0028571428	DAYS_REGISTRATION
0.0028571428	CNT_FAM_MEMBERS/(AMT_CREDIT)
0.0028571428	AMT_REQ_CREDIT_BUREAU_YEAR